.container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.createGroupPopUp {
  width: 50%;
  height: 35%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 3%;
  border-radius: 10px;
  position: relative;
}
/* group name start */
.groupName {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.groupName p {
  font-weight: 600;
  font-size: 1.4rem;
}
.groupName input {
  display: block;
  width: 70%;
  border: 2px solid #cccccc;
  border-radius: 20px;
  outline: none;
  padding: 0.6rem 2rem;
  font-size: 1.4rem;
  color: #cccccc;
}
/* group name end */

/* colour selection group start */
.groupcolor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.colorGroup {
  display: flex;
  gap: 1rem;
}
.colorIndividual {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.colorPick1 {
  background-color: #b38bfa;
}
.colorPick2 {
  background-color: #ff79f2;
}
.colorPick3 {
  background-color: #43e6fc;
}
.colorPick4 {
  background-color: #f19576;
}
.colorPick5 {
  background-color: #0047ff;
}
.colorPick6 {
  background-color: #6691ff;
}
/* colour selection group end */

.createGroupPopUp button {
  align-self: flex-end;
  font-size: 1.2rem;
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: black;
}
.removePopup {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  color: white;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.error {
  color: red;
}

@media only screen and (max-width: 1080px) {
  .createGroupPopUp {
    width: 60%;
  }
}
@media only screen and (max-width: 965px) {
  .createGroupPopUp {
    width: 65%;
  }
}

@media only screen and (max-width: 890px) {
  .createGroupPopUp {
    width: 70%;
  }
}

/* on mobile sizes*/
@media only screen and (max-width: 768px) {
  .createGroupPopUp h2 {
    font-size: 1.2rem;
  }
  .groupName {
    gap: 1rem;
  }
  .groupName input {
    font-size: 1rem;
  }
  .groupName p {
    font-size: 1rem;
  }
  .groupcolor span {
    font-size: 1rem;
  }
  .colorIndividual {
    width: 30px;
    height: 30px;
  }
  .createGroupPopUp button {
    font-size: 1rem;
  }
  .createGroupPopUp button {
    align-self: center;
    width: 80%;
  }
}

@media only screen and (max-width: 644px) {
  .createGroupPopUp {
    width: 75%;
  }
}

@media only screen and (max-width: 644px) {
  .createGroupPopUp {
    width: 80%;
  }
  .createGroupPopUp h2 {
    font-size: 1.1rem;
  }
  .groupName {
    gap: 0.9rem;
  }
  .groupName input {
    font-size: 0.9rem;
  }
  .groupName p {
    font-size: 0.9rem;
  }
  .groupcolor {
    gap: 1rem;
  }
  .groupcolor span {
    font-size: 0.9rem;
  }
  .colorGroup {
    gap: 0.5rem;
  }
  .colorIndividual {
    width: 28px;
    height: 28px;
  }
  .createGroupPopUp button {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 441px) {
  .createGroupPopUp {
    width: 85%;
    height: 35%;
  }
  .createGroupPopUp h2 {
    font-size: 1rem;
  }
  .groupName {
    gap: 0.8rem;
  }
  .groupName input {
    font-size: 0.8rem;
  }
  .groupName p {
    font-size: 0.8rem;
  }
  .groupcolor {
    gap: 0.9rem;
  }
  .groupcolor span {
    font-size: 0.8rem;
  }
  .colorGroup {
    gap: 0.5rem;
  }
  .colorIndividual {
    width: 28px;
    height: 28px;
  }
  .createGroupPopUp button {
    margin-top: 1rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 441px) {
  .createGroupPopUp {
    width: 90%;
  }
  .createGroupPopUp h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .groupName input {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  .groupName p {
    font-size: 0.9rem;
  }
  .groupcolor {
    gap: 0.8rem;
  }
  .groupcolor span {
    font-size: 0.9rem;
  }
  .colorGroup {
    gap: 0.5rem;
  }
  .colorIndividual {
    width: 28px;
    height: 28px;
  }
  .createGroupPopUp button {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 360px) {
  .createGroupPopUp h2 {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .groupName {
    gap: 0.5rem;
  }
  .groupName p {
    font-size: 0.9rem;
  }
  .groupcolor {
    gap: 0.5rem;
  }
  .groupcolor span {
    font-size: 0.9rem;
  }
  .colorGroup {
    gap: 0.3rem;
  }
  .colorIndividual {
    width: 28px;
    height: 28px;
  }
  .createGroupPopUp button {
    font-size: 0.9rem;
  }
}
