.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}
.roundedName {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
}
.fullGroupName {
  text-transform: capitalize;
  font-weight: 500;
}

@media only screen and (max-width: 890px) {
  .roundedName {
    width: 40px;
    height: 40px;
  }
  .fullGroupName {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .roundedName {
    width: 35px;
    height: 35px;
  }
  .fullGroupName {
    font-size: 0.8rem;
  }
}
